/**
 * Frontline Business Solutions, Inc.
 * Author : FBS Team
 * ===================================================================
 * Table of Contents
 *
 * 1.0 - Resets
 * 2.0 - Repeatable Patterns
 * 3.0 - Structure / Grid / Column
 * 4.0 - Header
 * 5.0 - Main Content
 * 6.0 - Footer
 * 7.0 - Clearing
 * 8.0 - Mobile CSS / Media Queries
 * 9.0 - Font
 */
/* ===================================================================
    * 9.0 :: Font
    * ===================================================================
    */

@font-face {
  font-family: 'boostnext-thin';
  src: url('./fonts/boostnext-thin-webfont.woff2') format('woff2'),
    url('./fonts/boostnext-thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'boostnext-regular';
  src: url('./fonts/boostnext-regular-webfont.woff2') format('woff2'),
    url('./fonts/boostnext-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'boostnext-black';
  src: url('./fonts/boostnext-black-webfont.woff2') format('woff2'),
    url('./fonts/boostnext-black-webfont.woff') format('woff');
}

/* =================================================================== 
           * 1.0 :: Resets
           * ===================================================================
           */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #2b2b2b;
  font: 14px/24px 'boostnext-regular', Helvetica, sans-serif;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'boostnext-black';
  font-size: 32px;
  line-height: 1.3em;
}

h2 {
  font-family: 'boostnext-black';
}

p {
  line-height: 26px;
}

hr {
  margin: 0;
}

article,
aside,
figure,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
/* =================================================================== 
              * 2.0 :: Repeatable Patterns
              * ===================================================================
              */
a {
  text-decoration: none;
  color: #fff;
}

nav ul li {
  display: inline-block;
  font-family: 'boostnext-black';
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  /* display: block;
            margin: 0 auto; */
}

.ff-black {
  font-family: 'boostnext-black';
}

.ff-regular {
  font-family: 'boostnext-regular';
}

.border-radius-max {
  border-radius: 30px;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.fs-6-rem {
  font-size: 6rem;
  line-height: 1em;
}

.fs-5-rem {
  font-size: 5rem;
  line-height: 1em;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.lh-3-rem {
  line-height: 3rem;
}

.lh-2-rem {
  line-height: 2rem;
}

.fs-28 {
  font-size: 28px;
  line-height: 1em;
}

.fs-32 {
  font-size: 32px;
  line-height: 1.1em;
}

.fs-42 {
  font-size: 42px;
  line-height: 48px;
}

.fs-36 {
  font-size: 36px;
  line-height: 1.1em;
}

.fs-59 {
  font-size: 59px;
  line-height: 1em;
}

.mx-10 {
  margin: 0 10px;
}

.mx-15 {
  margin: 0 15px;
}

.mx-20 {
  margin: 0 20px;
}

.my-5 {
  margin: 5px;
}

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0 !important;
}

.my-30 {
  margin: 30px 0;
}

.my-40 {
  margin: 40px 0;
}

.my-60 {
  margin: 60px 0;
}

.my-80 {
  margin: 80px 0;
}

.my-100 {
  margin: 100px 0;
}

.ml-15 {
  margin-left: 15px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-26 {
  margin-right: 26px;
}

.mr-29 {
  margin-right: 29px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-42 {
  margin-right: 42px;
}

.mr-46 {
  margin-right: 46px;
}

.mr-49 {
  margin-right: 49px;
}

.mr-55 {
  margin-right: 55px;
}

.full-width {
  width: 100%;
}

.text-decoration-none {
  text-decoration: none;
}

.text-dark-blue {
  color: #133656;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #f89021;
}

.text-dark-orange {
  color: #f36a22;
}

.bg-light-blue {
  background-color: #70cae4;
}

.bg-gray {
  background-color: #646464;
}

.bg-dark-gray {
  background-color: #424146;
}

.bg-dark-orange {
  background-color: #f36a22;
}

.bg-orange {
  background-color: #f89021;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-0 {
  padding-top: 0;
}

.pt-30 {
  padding-top: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.px-60 {
  padding: 0 60px;
}

.px-40 {
  padding: 0 40px;
}

.px-140 {
  padding: 0 140px;
}

.px-10 {
  padding: 10px;
}

.px-30 {
  padding: 0 30px;
}

.py-10 {
  padding: 10px 0;
}

.py-15 {
  padding: 15px 0;
}

.py-20 {
  padding: 20px 0;
}

.py-30 {
  padding: 30px 0;
}

.py-60 {
  padding: 60px 0;
}

.py-40 {
  padding: 40px 0;
}

.py-80 {
  padding: 80px 0;
}

.py-100 {
  padding: 100px 0;
}

.pd-15 {
  padding: 15px;
}

.pd-30 {
  padding: 30px;
}

.pd-20 {
  padding: 20px;
}

.pd-10 {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.t-justify {
  text-align: justify;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-unset {
  vertical-align: unset;
}

.no-pd {
  padding: 0;
}

.width-unset {
  width: unset;
}

.width-auto {
  width: auto;
}

.margin-auto {
  margin: 0 auto;
}

.btn-cta {
  color: #fff;
  font-family: 'boostnext-regular';
  font-size: 26px;
  background-color: #70cae4;
  text-align: center;
  display: block;
  padding: 15px;
  border-radius: 30px;
}

/* ===================================================================
              * 3.0 :: Structure / Grid/ Column
              * ===================================================================
              */

/* Uncomment and set these variables to customize the grid. */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-mpu {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container-mpu {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container-mpu {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container-mpu {
    width: 768px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
/* =================================================================== 
              * 4.0 :: Header
              * ===================================================================
              */

#header-address {
  background-color: #646464;
}

#header-address p {
  color: #fff;
  text-align: right;
}

header {
  padding: 10px;
  background-color: #424146;
}

#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-nav img {
  vertical-align: middle;
}

nav ul {
  vertical-align: middle;
  color: #fff;
}

/* =================================================================== 
              * 5.0 :: Main Content
              * ===================================================================
              */

#banner {
  background-image: url('./boost/bg_banner.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.banner-overlay {
  background-color: rgba(243, 106, 34, 0.5);
}

.banner-description {
  padding: 40px 30px;
  background-color: #fff;
  margin: 80px 0;
}

.banner-description h1 {
  color: #f89021;
  text-align: center;
}

.banner-description ul {
  padding: 30px;
}

.banner-description ul li {
  margin-bottom: 20px;
}

.banner-description ul li:last-child {
  margin-bottom: 0;
  font-family: 'boostnext-black';
  color: #133656;
}

.banner-description img {
  width: unset;
  margin-right: 10px;
  vertical-align: middle;
}

#banner-mobile {
  display: none;
}

.banner-mobile-title {
  background-color: #f36a22;
  padding: 40px 0;
}

.banner-mobile-title h1 {
  color: #fff;
  text-align: center;
}

.banner-mobile-description {
  background-color: #f89021;
  padding: 40px 0;
}

.banner-mobile-description ul {
  margin: 0 auto;
  width: 268px;
}

.banner-mobile-description ul li {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
}

.banner-mobile-description ul li:last-child {
  margin-bottom: 0;
  font-family: 'boostnext-black';
  color: #133656;
}

.banner-mobile-description img {
  width: unset;
  margin-right: 10px;
  vertical-align: middle;
}

#covid-response {
  background-color: #f89021;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

#covid-response h2 {
  font-size: 32px;
}

#covid-response-mobile {
  display: none;
}

.covid-response-mobile-wrapper {
  text-align: center;
  margin: 0 auto;
  background-color: #f89021;
  padding: 20px 0;
  width: 320px;
}

.covid-response-mobile-wrapper h2 {
  color: #133656;
  font-size: 26px;
  margin-bottom: 10px;
}

.covid-response-mobile-wrapper p {
  color: #fff;
}

.plans-description {
  padding: 100px 0;
  width: 258px;
  margin: 0 auto;
}

.plans-description h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 1.1em;
}

.plans-description p {
  font-family: 'boostnext-black';
  color: #fff;
  margin-bottom: 20px;
}

.plans-description ul li {
  margin-bottom: 10px;
  font-family: 'boostnext-regular';
  color: #fff;
}

.plans-description img {
  width: unset;
  margin-right: 10px;
  vertical-align: middle;
}

.shrink-wrapper {
  margin: 60px 0;
  padding: 0 60px;
}

.shrink {
  background-color: #f89021;
  padding: 60px 0;
}

.shrink h2 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-family: 'boostnext-regular';
  margin-bottom: 20px;
  line-height: 1.1em;
}

.shrink h2 span {
  font-size: 59px;
  font-family: 'boostnext-black';
  line-height: 1em;
}

.shrink p {
  color: #133656;
  font-family: 'boostnext-black';
  text-align: center;
}

.shrink ul {
  padding: 20px 0;
  width: 302px;
  margin: 0 auto;
}

.shrink ul li {
  margin-bottom: 10px;
  font-family: 'boostnext-regular';
  color: #fff;
}

.shrink-price {
  margin: 0 auto;
  width: 166px;
}

.shrink-price p {
  font-size: 59px;
  line-height: 1em;
  font-family: 'boostnext-black';
  text-align: center;
  display: inline-block;
  color: #133656;
}

.cross-price {
  width: 80px;
  color: #fff;
  font-size: 42px !important;
  line-height: 48px !important;
  margin-right: 5px;
  display: inline-block;
}

#nav-mobile {
  display: none;
}

#mobile-logo {
  display: none;
  width: unset;
}

#mobile-location {
  display: none !important;
}

.plans-overlay {
  background-color: rgba(19, 54, 86, 0.5);
}

.contact-overlay {
  background-color: rgba(19, 54, 86, 0.5);
}

#plans {
  background-image: url('./boost/bg_plans.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#plans-mobile {
  display: none;
}

.plans-mobile-description {
  margin: 0 auto;
  padding: 80px 0;
  width: 260px;
}

.plans-mobile-description h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 1.1em;
}

.plans-mobile-description p {
  color: #f89021;
  font-size: 26px;
  font-family: 'boostnext-black';
  margin-bottom: 20px;
}

.plans-mobile-description ul li {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'boostnext-regular';
  color: #fff;
}

.plans-mobile-description img {
  width: unset;
  margin-right: 10px;
  vertical-align: middle;
}

#shrink-mobile {
  display: none;
}

#shrink-mobile {
  background-color: #f89021;
  padding: 60px 0;
}

#shrink-mobile h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  line-height: 1.1em;
  font-family: 'boostnext-regular';
  margin-bottom: 20px;
}

#shrink-mobile h2 span {
  font-size: 42px !important;
  line-height: 48px !important;
}

#shrink-mobile p {
  color: #133656;
  font-family: 'boostnext-black';
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

#shrink-mobile p:last-child {
  margin-bottom: 0;
}

#shrink-mobile ul {
  margin: 0 auto;
  width: 224px;
}

#shrink-mobile ul li {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'boostnext-regular';
  color: #fff;
}

#shrink-mobile ul li:last-child {
  margin-bottom: 20px;
}

.shrink-mobile-wrapper {
  margin: 0 auto;
  width: 171px;
}

.shrink-mobile-wrapper p {
  font-size: 59px !important;
  line-height: 1em !important;
  font-family: 'boostnext-black';
  text-align: center;
  display: inline-block;
  color: #133656;
}

#bring {
  margin: 80px 0;
}

.bring-img img {
  display: block;
}

.go-unlimited h2 {
  font-family: 'boostnext-black';
  color: #f36a22;
  font-size: 32px;
  line-height: 1.1em;
}

.go-unlimited p {
  color: #f36a22;
  margin-bottom: 20px;
}

.go-unlimited-mobile {
  text-align: center;
  padding: 40px 0;
}

.go-unlimited-mobile h2 {
  font-family: 'boostnext-black';
  color: #f36a22;
  font-size: 32px;
  line-height: 1.1em;
}

.go-unlimited-mobile p {
  color: #f36a22;
}

.price {
  border: 6px solid #f36a22;
  padding: 27px 0;
}

.price-wrapper {
  display: flex;
  justify-content: center;
}

.price-wrapper h3 {
  font-size: 5rem;
  line-height: 1em;
  color: #f89021;
  font-family: 'boostnext-black';
}

.price-wrapper h3 span {
  font-size: 42px;
  line-height: 48px;
}

.price-wrapper ul {
  color: #f89021;
  align-self: center;
  margin-left: 10px;
}

.price-wrapper ul li {
  font-size: 18px;
  line-height: 2rem;
}

.price-wrapper ul li:first-child {
  font-family: 'boostnext-black';
}

.price-wrapper-mobile {
  display: flex;
  justify-content: center;
}

.price-wrapper-mobile h3 {
  font-size: 6rem;
  line-height: 1em;
  color: #f89021;
  font-family: 'boostnext-black';
}

.price-wrapper-mobile h3 span {
  font-size: 42px;
  line-height: 48px;
}

.price-wrapper-mobile ul {
  color: #f89021;
  align-self: center;
  margin-left: 10px;
}

.price-wrapper-mobile ul li {
  font-size: 26px;
  line-height: 3rem;
}

.price-wrapper-mobile ul li:first-child {
  font-family: 'boostnext-black';
}

.price-description-wrapper ul {
  width: 199px;
  margin: 0 auto;
}

.price-description-wrapper-2 ul {
  width: 200px;
  margin: 0 auto;
}

.price-description-wrapper ul li {
  font-family: 'boostnext-regular';
  color: #000;
}

.price-description-wrapper-2 ul li {
  font-family: 'boostnext-regular';
  color: #000;
}

.price-description-wrapper ul li:last-child {
  font-family: 'boostnext-black';
  color: #000;
}

.price-description-wrapper-2 ul li:last-child {
  font-family: 'boostnext-black';
  color: #000;
}

.price-description-wrapper img {
  width: unset;
  margin-right: 10px;
  vertical-align: middle;
}

.price-description-wrapper-2 img {
  width: unset;
  margin-right: 10px;
  vertical-align: middle;
}

.price-no-border {
  margin-top: 114px;
}

#bring-mobile {
  display: none;
}

.bring-mobile-img {
  display: block;
}

.price-mobile-1 {
  border: 8px solid #cacaca;
  padding: 40px 0;
}
.price-mobile-2 {
  border-bottom: 8px solid #cacaca;
  border-left: 8px solid #cacaca;
  border-right: 8px solid #cacaca;
  padding: 40px 0;
}

#hot-deals {
  background-color: #f36a22;
  text-align: center;
  padding: 80px 0;
}

#hot-deals h2 {
  color: #fff;
  font-size: 42px;
  line-height: 48px;
}

#hot-deals p {
  color: #fff;
}

#hot-deals-mobile {
  display: none;
}

.plans-mobile-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
}

.hot-deals-mobile-description {
  padding-top: 130px;
}

.hot-deals-mobile-description h2 {
  color: #fff;
  font-size: 42px;
  line-height: 48px;
}

.hot-deals-mobile-description p {
  color: #fff;
}

#phone {
  margin: 100px 0;
}

#phone img {
  display: block;
}

.phone-img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.store-info {
  padding: 80px 0;
  width: 196px;
  margin: 0 auto;
}

.store-info h3 {
  color: #f89021;
  font-size: 28px;
  margin-bottom: 30px;
  font-family: 'boostnext-black';
}

.store-info div {
  margin-bottom: 30px;
}

.store-info div:last-child {
  margin-bottom: 0;
}

.store-info h4 {
  font-size: 18px;
  color: #f89021;
  font-family: 'boostnext-regular';
  margin-bottom: 10px;
}

.store-info span {
  display: inline-block;
}

#contact {
  background-image: url('./boost/bg_storeinfo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#contact p {
  color: #fff;
}

#legalese {
  display: none;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #fff;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  width: 200px;
  margin: 0 auto;
}
.hr-text:before {
  content: '';
  /* background: linear-gradient(to right, transparent, #818078, transparent); */
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #fff;
  background-color: #f89021;
}

.hr-text-gray {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #646464;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  width: 200px;
  margin: 0 auto;
}

.hr-text-gray:before {
  content: '';
  /* background: linear-gradient(to right, transparent, #818078, transparent); */
  background: #646464;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text-gray:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #646464;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #646464;
  background-color: #fff;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 4px solid;
  border-color: #133656;

  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.strikethrough-white {
  position: relative;
}
.strikethrough-white:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 4px solid;
  border-color: #133656;

  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
/* ===================================================================
              * 6.0 :: Footer
              * ===================================================================
              */

footer {
  border-top: 10px solid #f89021;
  background-color: #424146;
  padding: 40px 0;
}

footer p {
  font-family: 'boostnext-regular';
  color: #fff;
  text-align: center;
}

/* ===================================================================
              * 7.0 :: Clearing
              * ===================================================================
              */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.inside:after,
li:after,
form:after,
article:after {
  content: ' ';
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/* ===================================================================
              * 8.0 :: Mobile CSS
              * ===================================================================
              */
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1260px) {
}

@media screen and (max-width: 1199px) {
  .banner-description ul {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: block;
  }

  #banner {
    display: none;
  }

  #banner-mobile {
    display: block !important;
  }

  #header-address {
    display: none;
  }

  #header-nav {
    display: block !important;
  }

  #desktop-logo {
    display: none;
  }

  #mobile-logo {
    display: inline-block;
    padding: 10px 30px;
  }

  #covid-response {
    display: none;
  }

  nav {
    text-align: center;
    border-top: 2px solid #646464;
    padding: 10px 0;
  }

  header {
    padding: unset !important;
  }

  #mobile-location {
    margin-left: 15px;
    display: inline-block !important;
    vertical-align: middle;
    color: #fff;
  }

  #covid-response-mobile {
    background-image: url('./boost/covid.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: block !important;
    position: relative;
    padding: 200px 0 40px 0;
  }

  #plans {
    display: none;
  }

  #shrink-mobile {
    display: block !important;
  }

  #plans-mobile {
    background-image: url('./boost/bg_plans.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: block !important;
  }

  #bring {
    display: none;
  }

  #hot-deals {
    display: none;
  }

  #hot-deals-mobile {
    background-image: url('./boost/bg_jump_sm.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
  }

  #phone {
    margin: 0 !important;
  }

  .phone-img {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }

  .phone-img-1 {
    border: 8px solid #000;
  }
  .phone-img-2 {
    border-left: 8px solid #000;
    border-right: 8px solid #000;
    border-bottom: 8px solid #000;
  }
  .phone-img-3 {
    border-left: 8px solid #000;
    border-right: 8px solid #000;
    border-bottom: 8px solid #000;
  }

  #contact h4 {
    font-family: 'boostnext-black';
    font-size: 24px;
  }

  #contact h3 {
    color: #fff;
    font-size: 36px;
  }

  #contact p {
    font-size: 16px;
  }

  #bring-mobile {
    display: block !important;
  }

  .store-info {
    padding: 50px 0 !important;
  }

  .map {
    margin: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    /* margin: 80px 0 !important; */
  }

  #legalese {
    padding: 40px 30px 40px 30px !important;
    display: block !important;
    text-align: justify !important;
  }

  #hot-deals-mobile {
    display: block !important;
  }
}

@media screen and (max-width: 482px) {
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 374px) {
}
